@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: border-box;
}

html {
    background: linear-gradient(hsl(273, 75%, 66%),
            hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


div#box {
    max-width: 900px;
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 3rem;
}

.smallbox {
    width: 20px;
    height: auto;
}